
/* HTML Attributes
-------------------------------------------------- */
body {
    margin:0 auto;
    width:95%;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif; 
   font-weight: 300;
    background-color: #fff;
    }

/* Links
-------------------------------------------------- */
a:link, a:visited {
color: #7c7c7c;
text-decoration: none;
text-shadow: 2px;
}
a:hover, a:active {
color: #7c7c7c;
text-decoration: underline;
text-shadow: 2px;
}

/* Header
-------------------------------------------------- */
.page-header {
    margin:0 auto;
    width:75%;
    border-bottom: 1px solid #cccccc;
}
.page-header h1 {
    color:#000000;
    font-size:48px;
    font-weight:100;
    text-align: center;
}
.page-header p {
    color:#7c7c7c;
    font-size:15px;
    font-style:italic;
    text-align: center
}

/* Content
-------------------------------------------------- */
.content {
    margin:0 auto;
    width: 75%;
}

/* Footer
-------------------------------------------------- */
footer {
    margin:0 auto;
    width:75%;
    height:40px;
    border-radius: 5px;
    background: #7DCCFF;
    clear: both;
    border-top: 2px solid #FFFFFF;
}

/* Contact Info
-------------------------------------------------- */

/* Blog
-------------------------------------------------- */
